.tile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 20px;
    width: 100%;
    max-height: auto;

    background-color: #FFFFFF;

    border: 1px lightgray solid;
    border-radius: 5px;
    box-shadow: 2px 6px 20px 0px lightgrey;
}

.tile-h2 {
    font-size: 1.3em;

}

.tile-subs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

h3 > a{
    color: #dd3038;
}


@media screen and (min-width: 576px) {
    .tile {
        width: 48%;
    }
}

@media screen and (min-width: 992px) {
    .tile {
        width: 30%;
    }
}